@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f7f7f7;
    --foreground: #1a1c1c;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased selection:bg-primary/20 selection:text-primary;
    font-family: 'Inter', sans-serif;
  }
}